<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver</property>
		<property name="connection.url">
			jdbc:mysql://localhost:3306/demo?useUnicode=true&amp;characterEncoding=UTF-8
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">236598</property>
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<!-- c3p0配置 -->
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="c3p0.acquire_increment">2</property>
		<property name="c3p0.idle_test_period">2000</property>
		<property name="c3p0.timeout">2000</property>
		<property name="c3p0.max_statements">10</property>
		<!-- c3p0配置完成 -->

		<!-- MYSQL不支持的语句，但是其他数据库支持 -->
		<property name="hibernate.jdbc.fetch_size">50</property>
		<property name="jdbc.batch_size">30</property>
		<!-- MYSQL不支持的语句，完成 -->


		<mapping resource="entity/Admin.hbm.xml" />
	
	</session-factory>
</hibernate-configuration>
